html {
  scroll-behavior: smooth;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.colored-section {
  height: 100vh;
  background-color: #FFFFFF;
}

.navbar {
    -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

/* Headings */

.heading-1 {
  padding-top: 80px;
  letter-spacing: 5px;
  text-align: center;
  font-size: 50px;
}

.p-1 {
  text-align: center;
  color: #fff;
}

/* Learn */

.learn-btn {
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 120%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 150px;
  width: 30%;
  cursor: pointer;
}

.learn-btn a {
  color: #fff;
  text-decoration: none;
}

/* About*/

.about-head {
  padding-top: 210px;
  text-align: center;
  color: red;
}

.about-head-2 {
  padding-top: 20px;
  letter-spacing: 5px;
  font-size: 45px;
}

.about-text {
  text-align: center;
  color: #5f5f5f;
  font-size: 20px;
  padding-top: 45px;
  font-family: sans-serif;
}

.hr-1 {
  margin: 180px;
}

/* Features */

#features {
  background-color: #28A745;
}

.features-head h1 {
  color: #fff;
}

.features-text {
  color: #fff;
  padding-top: 20px;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  background-color: #61b15a;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-head {
  padding-top: 145px;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
}

.download-button {
  margin: 8% 3% 5% 0;
  margin-bottom: 150px;
}

/* Title Section */

#title {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 5%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
  background-color: #28A745;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.feature-box p {
  color: #fff;
}

.icon {
  color: #fff;
  margin-top: 35px;
  margin-bottom: 1rem;
}

/* Footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.design a{
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

.design a:hover {
  color: #fff;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
